a.disability {
	font-family: Tahoma;
	font-size: 11px;
	color: #9d0000;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;

}
a.disability:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #9d0000;
	text-decoration: none;
	font-weight: normal;
	font-weight: bold;

}
a.linktxt2 {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
a.linktxt2:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	
}
a.link4 {
	font-family: Tahoma;
	font-size: 12px;
	color: #005066;
	text-decoration: none;
	font-weight: bold;
}
a.link4:hover {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	
}
.textbox {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:20px;
	padding-right: 5px;
	padding-left: 5px;
}
.textbox2 {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:110px;
	padding-right: 5px;
	padding-left: 5px;
}
.textsearch {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:20px;
	padding-right: 5px;
	padding-left: 5px;
}
.textboxdisable {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #cccccc;
	height: 18px;
	border: 1px solid #3C619D;
	width:100px;
	padding-right: 5px;
	padding-left: 5px;
}
.tableheader {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #1F62A9;
	height: 22px;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.textarea {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #005BA6;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	line-height: 18px;
}

.tablecontent1 {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color: rgba(155, 192, 210, 0.7);
	height: 18px;
	color: #0A0A0B;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.tablecontent2 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color: #FCFDFE;
	height: 18px;
	color: #000000;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}
.header{
	height: 22px;
	color: #016284;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	
}
.footertext {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;

}
.alert {
	font-family: Tahoma;
	font-size: 10px;
	color: #ff0030;

}
a.linkfooter {
	font-family: Tahoma;
	font-size: 11px;
	color: #00a2cf;
	text-decoration: none;
	font-weight: normal;
}
a.linkfooter:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #00a2cf;
	font-weight: normal;
	text-decoration:underline;
	
}
.text1 {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.button {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #008dbd;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6cbcd7;
	border-right-color: #0074a8;
	border-bottom-color: #00669d;
	border-left-color: #36a4c9;
	height: 20px;
	padding: 1px;
}

.tdbg {
	border: 1px solid #0199cd;

}
.content {

	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	line-height: 16px;
}
.personaldetails {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	padding:0 0 0 0px;

}
a.Whitelink {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.Whitelink:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.redtext {
	font-family: Tahoma;
	font-size: 12px;
	color: #ff0000;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
}
.listMenu{
	  border:1px solid #999999; 
     font-family:tahoma;
	
}

.listMenudisable{
	  border:1px solid #999999; 
     font-family:tahoma;
	font-size:11px;
    color:#cccccc;
}
.tablecontent1a {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color: #EEF7FD;
	height: 10px;
	color: #000000;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding: 5px;
}
.tablecontent2a {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color: #FCFDFE;
	height: 10px;
	color: #000000;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding: 5px;
}
